<template>
  <div class="container">
<h1 class="title"> Danh muc cac ma </h1>

<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"> ma to chuc </a> </li>
    <li class="nav-item">
      <a class="nav-link"> E1 </a></li>
    <li class="nav-item">
      <a class="nav-link"> E2 </a> </li>
    
    
    <li class="nav-item">
      <a class="nav-link"> ma ca nhan </a> </li>
    <li class="nav-item">
      <a class="nav-link"> youtube </a></li>
    <li class="nav-item">
      <a class="nav-link"> mmo </a> </li>

    <li class="nav-item">
      <a class="nav-link"> uy thac dau tu </a> </li>
    <li class="nav-item">
      <a class="nav-link"> thien vuong </a> </li>
    <li class="nav-item">
      <a class="nav-link"> hai vuong </a> </li>

  </ul>
  </nav>


</div>
</template>
