<template>

  
  <div class="container">
    <h2> Giao dich tot nhat </h2>
    <table class="table table-striped">
      <thead>
	<tr>
	  <th> Ma </th>
	  <th> Tien </th>
	  <th> Bien doi </th>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td> E1 </td>
	  <td> 100.000 vnd. 10 ngay </td>
	  <td> +50.000 vnd (50%) </td>
	</tr>
	<tr>
	  <td> E2 </td>
	  <td> 200.000 vnd. 12 ngay </td>
	  <td> 60.000 vnd (30%) </td>
	</tr>
	<tr>
	  <td> youtube </td>
	  <td> 200.000 vnd. 12 ngay </td>
	  <td> 60.000 vnd (30%) </td>
	</tr>
	<tr>
	  <td> E2 </td>
	  <td> 200.000 vnd. 12 ngay </td>
	  <td> 60.000 vnd (30%) </td>
	</tr>
      </tbody>
    </table>
    
  </div>

</template>
