<template>
  <div>
    <h1 class="title">Cac khuyen mai hien co</h1>
    <p> So du tai khoan: 10.000.000 vnd </p>
    <div class="container">
      <div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6">
	  <div class="card">
	    <img class="card-img-top" alt="km" src="https://bulma.io/images/placeholders/128x128.png">

	    <div class="card-body">
	      <h4 class="card-title"> Ao adidas </h4>
	      
	      <p class="card-text"> 100.000 vnd (Giam 90%) <br> Gia goc: 1000.000 vnd </p>
	      <a class="btn btn-danger"> Mua </a>
	    </div>
	  </div>
	  
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
	  	  <div class="card">
	    <img class="card-img-top" alt="km" src="https://bulma.io/images/placeholders/128x128.png">

	    <div class="card-body">
	      <h4 class="card-title"> Ao adidas </h4>
	      <p class="card-text"> Giam 90% </p>
	      <a class="btn btn-danger"> Mua </a>
	    </div>
	  </div>

	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
	</div>
      </div>
    </div>
  </div>
  
  </template>
