<template>
<div>
<h1 class="title">  Nhap so tien ban muon nap them:</h1>

<input type="text" class="input" v-model="napthem"/>

<p> Ngan hang </p>


<input type="text" />
<p> so tai khoan </p>
<input type="text" />
<p> ten tai khoan </p>
<input type="text" />
<input type="text" />
<p> cu phap chuyen tien </p>
<input type="text" />

<a class="btn btn-danger"> hoan thanh </a>

  </div>
</template>
<script>
  export default {
  name: 'napthem',
  data: {
  napthem: '',
  }
  }
  </script>
