<template>
  <div>
<p> So tien co the rut: 100.000.000 vnd </p>
    <p> Fee: 5% </p>
    <p>  Nhap so tien ban muon rut:</p>

    <input class="input" type="text" v-model="ruttien"/>
<p> nhap ma otp </p>
<input class="input" type="text" />
<a class="btn btn-primary"> rut tien </a>
</div>
</template>

<script>

  export default {
  name: 'ruttien',
  data: {
  ruttien: ''
  },
  }
  
  </script>
