<template>

  <div>
    <nav class="navbar bg-light">
      <ul class="navbar-nav">
	<li class="nav-item">
    <router-link to="/thongtin" class="nav-link"> thong tin ca nhan </router-link></li>
    <p> lich su nap rut tien </p>
    <p> huong dan su dung </p>
    <p> doi mat khau </p>
    <p> faq </p>
    <p> lien he </p>

    <p> sua avatar </p>
    <p> chia se </p>
    <p> nhan thuogn </p>
      </ul>
      </nav>
  </div>
  
  
</template>
