<template>
  <div>

    <form action="/">
      <div class="form-group">
	<label for="hoten"> Ho ten : </label>
	<input type="email" class="form-control" id="hoten" />
      </div>

      <div class="form-group">
	<label for="ngaysinh"> Ngay thang nam sinh </label>
	<input type="date" class="form-control" id="ngaysinh" />
      </div>

      <div class="form-group">
	<label for="cmnd"> CMND </label>
	<input type="text" class="form-control" id="cmnd" />
      </div>

            <div class="form-group">
	<label for="diachi"> Dia chi </label>
	<input type="text" class="form-control" id="diachi" />
      </div>

	          <div class="form-group">
	<label for="email"> Email </label>
	<input type="email" class="form-control" id="email" />
      </div>
      <div class="form-group">
	<label for="sotk"> So tai khoan </label>
	<input type="text" class="form-control" id="sotk" />
      </div>

            <div class="form-group">
	<label for="nganhang"> Ngan hang </label>
	<input type="text" class="form-control" id="nganhang" />
      </div>
      <div class="form-group">
	<label for="chinhanh"> Chi nhanh </label>
	<input type="text" class="form-control" id="chinhanh" />
      </div>

      
      <button type="submit" class="btn btn-primary">Hoan thanh </button>
    </form>
    
    
  </div>
  
