<template>
  <div id="app">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <router-link class="navbar-brand" to="/"> COI </router-link>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	<span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
	<li class="nav-item">
	  <router-link class="nav-link" to="/danhmucma"> Danh muc ma </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/giaodich"> Giao dich </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/lichsu"> Lich su </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/gdtotnhat">GD tot nhat </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/ruttien"> Rut tien </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/khuyenmai"> Khuyen mai </router-link></li>
	<li class="nav-item">
	  <router-link class="nav-link" to="/tintuc">Tin tuc </router-link></li>
	<li class="nav-item">
	  <router-link class="btn btn-warning" to="/napthem"> Nap them </router-link></li>
	<li class="nav-item">
	  <router-link class="btn btn-danger" to="/dautu"> Dau tu </router-link> </li>
      </ul>
      </div>
      </nav>

     <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
          <figure >         <img class="card-img-top" src="https://bulma.io\
/images/placeholders/128x128.png" alt="avatar">        </figure>
          <div class="card-body">
            <h4 class="card-title"> Nguyen Van A </h4>
            <p class="card-text"> Nha dau tu vang </p>
            <p> 150.000.000 vnd </p>
            <p> Von: 100.000.000 vnd </p>
            <p> + 50.000.000 vnd </p>
            <a class="btn btn-info"> 30 ngay gan day </a>
	    <router-link class="btn btn-info" to="/taikhoan"> thong tin tai khoan </router-link>
          </div>
	</div>
     </div>
      <div class="col-lg-8 col-md-8 col-sm-8">

	<div class="card" style="min-height:400px">

	  <router-view />
	  </div>
	<div>
	<p> Suc dau tu: 100.000.000 vnd </p>
        <p> So dau tu: 50.000.000 vnd . 10% tai san </p>
	</div>
      </div>
    </div>
  </div>


    
    

      </div>
      
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  body {
  margin-top: 80px;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
